<div class="container d-flex justify-content-center align-items-center vh-100">
    <form method="POST" action="/login" style="min-width: 350px; background-color: #28282E;" class="p-5 rounded">
        <h3 class="text-white mb-4">Login</h3>
        <% if(messages.error) { %>
        <span class="text-danger"><%= messages.error %></span>
        <% } %>

        <div class="form-floating mb-3">
            <input name="email" type="email" placeholder="Enter your email address" class="form-control" id="email">
            <label for="email">Email Address</label>
        </div>

        <div class="form-floating mb-3">
            <input name="password" type="password" placeholder="Enter your password" class="form-control" id="password">
            <label for="password">Password</label>
        </div>

        <div class="d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-dark" style="background-color: #8C6CF7; color: white;">Login</button>
            <a href="/register" class="text-decoration-none text-white mt-2">Don't have an account? Create one</a>
        </div>

    </form>
</div>