<form method="POST"
    class="flex flex-col border-[0.5px] px-16 py-16 rounded drop-shadow-md">
    <label class="text-sm">Name</label>
    <input type="text" placeholder="Enter your name"
    class="border-2 border-black mb-2 px-2">
    <label class="text-sm">Email Address</label>
    <input type="email" placeholder="Enter your email address"
    class="border-2 border-black mb-2 px-2">
    <label class="text-sm">Password</label>
    <input type="password" placeholder="Enter your password"
    class="border-2 border-black mb-2 px-2">
    <label class="text-sm">Confirm Password</label>
    <input type="password" placeholder="Enter confirm password"
    class="border-2 border-black mb-2 px-2">
    <button type="submit" class="px-4 py-2 border-2 border-black mt-8 hover:bg-black hover:text-white rounded">
        Register
    </button>
    <a href="/login" class="text-sm mt-2">Already have an account?</a>
</form>