<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="text-center">
        <h1 class="text-white">Page Not Found</h1>
        <p class="text-white">Sorry, but the page you were trying to view does not exist.</p>
    </div>
</div>