a { 
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar {
  border-bottom: 2px solid #5DCD8E;
}

body {
  background-color: #ECF2FF;
}

.author-name {
  font-size: 15px;
}

.blog-title {
  padding: 0;
}

.blog-card {
  border-bottom: 2px solid #5DCD8E;
}

li:last-child {
  border-bottom: none;
}

.button {
  background-color: #8C6CF7;
  color: white;
}