<div class="container py-5">
    <div class="row">
        <div class="col-8">
            <h2 class="mb-4 text-white">Articles for you</h1>
            <ul class="p-4 rounded blog-list" style="background-color: #28282E;">
                <% articles.forEach(function(article) { %>
                    <li class="blog-card py-2">
                        <a href="/blog/<%= article._id %>" class="mb-3">
                            <div class="col">
                                <p class="text-white author-name"><%= article.authorName %></p>
                                <strong class="text-white blog-title"><%= article.title %></strong>
                                <p class="text-white blog-content mt-2"><%- article.content %></p>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>