<!-- <p>Unleash the power of your words and paint the world with your unique story!</p>
<button class="px-4 py-2 border-2 border-black mt-8 hover:bg-black hover:text-white rounded">
    Write your first blog
</button> -->
<div class="w-full h-full">
    <p class="px-2">Your Blogs</p>
    <div class="container">
        <div class="px-4 py-4 border-t-[0.5px] border-gray-200">
            <p class="text-lg">Title</p>
            <p class="text-xs py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus ab, quo architecto iste totam dicta harum eligendi fugit quasi voluptatem nemo eos quia modi nostrum aspernatur est odio soluta, at provident obcaecati laudantium alias animi. Commodi sint, fugit ab modi est doloribus odit quis corrupti nam incidunt facilis culpa!</p>
        </div>
        <div class="px-4 py-4 border-t-[0.5px] border-gray-200">
            <p class="text-lg">Title</p>
            <p class="text-xs py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus ab, quo architecto iste totam dicta harum eligendi fugit quasi voluptatem nemo eos quia modi nostrum aspernatur est odio soluta, at provident obcaecati laudantium alias animi. Commodi sint, fugit ab modi est doloribus odit quis corrupti nam incidunt facilis culpa!</p>
        </div>
        <div class="px-4 py-4 border-t-[0.5px] border-gray-200">
            <p class="text-lg">Title</p>
            <p class="text-xs py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus ab, quo architecto iste totam dicta harum eligendi fugit quasi voluptatem nemo eos quia modi nostrum aspernatur est odio soluta, at provident obcaecati laudantium alias animi. Commodi sint, fugit ab modi est doloribus odit quis corrupti nam incidunt facilis culpa!</p>
        </div>
        <div class="px-4 py-4 border-t-[0.5px] border-gray-200">
            <p class="text-lg">Title</p>
            <p class="text-xs py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus ab, quo architecto iste totam dicta harum eligendi fugit quasi voluptatem nemo eos quia modi nostrum aspernatur est odio soluta, at provident obcaecati laudantium alias animi. Commodi sint, fugit ab modi est doloribus odit quis corrupti nam incidunt facilis culpa!</p>
        </div>
        <div class="px-4 py-4 border-t-[0.5px] border-gray-200">
            <p class="text-lg">Title</p>
            <p class="text-xs py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus ab, quo architecto iste totam dicta harum eligendi fugit quasi voluptatem nemo eos quia modi nostrum aspernatur est odio soluta, at provident obcaecati laudantium alias animi. Commodi sint, fugit ab modi est doloribus odit quis corrupti nam incidunt facilis culpa!</p>
        </div>
    </div>
</div>